<h1>Lista de Criptomonedas</h1>
<mat-divider></mat-divider>
<br>

<div fxLayout="row wrap"
fxLayout.xs="column"
fxLayoutAlign="center"
fxLayoutGap="15">

    <div fxFlex="18"
    fxFlex.sm="23"
    fxFlex.xs="45"
    *ngFor="let moneda of criptomonedas">

<mat-card>
    <mat-card-header>
        <mat-card-title>{{ moneda.id }}</mat-card-title>
        <mat-card-subtitle>{{ moneda.name }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="assets/Imagenes/{{moneda.id}}.png">


    <mat-card-actions>

        <a mat-raised-button
         color="primary"
         href="{{ moneda.url }}"
         target="_blank">Más información...</a>
        <a button mat-button 
        color="accent"
        routerLink="/cripto-monedas/comprar">Comprar</a>

    </mat-card-actions>

</mat-card>
    </div>
</div>