body {
    height: 100%;
  background-image: url("https://www.santander.com/es/stories/guia-para-saber-que-son-las-criptomonedas/_jcr_content/root/story/bottomParsys/resource_composer/resource-composer__composition-three-2.coreimg.jpeg/1612548160888/im-storie-guia-para-saber-que-son-las-criptomonedas-3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.puntero { cursor: pointer;}