<br>
<br>
<br>
<br>
<br>
<br>
<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="25"
>
  <mat-card class="coinBase"
  >
    <img mat-card-image src="assets/coinbase.img.svg" />
    <br>
    <mat-card-actions>
      <a
        mat-raised-button
        class="buttonColor"
        href="https://www.coinbase.com"
        target="_blank"
        >COMPRAR</a
      >
    </mat-card-actions>
  </mat-card>
  <mat-card class="binanceStyle">
    <img mat-card-image src="assets/Binance_logo.svg" />
    <mat-card-actions>
      <a
        mat-raised-button
        class="binanceButton"
        color="accent"
        href="https://www.binance.com"
        target="_blank"
        >COMPRAR</a
      >
    </mat-card-actions>
  </mat-card>
</div>
